.Footer {
    bottom: 0;
    height: 10rem;
    width: 100vw;
    background-color: var(--Charcoal);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
    display: grid;
    place-items: center;

    &-value {

        font-size: 3.5rem;
        font-weight: 300;
        color: #fff;
    }
}