.Nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: 100vw;
    height: 7rem;
    transition: all 0.2s ease-in;

    position: fixed;

    z-index: 99;
    background-color: #fff;

    &_icon {
        place-self: center;
        grid-column: 1 / 1;
        grid-row: 1 / 1;

        transition: all 0.1s ease-in;
        height: 3rem;
        margin-left: .6rem;

        display: grid;
        place-items: center;
        cursor: pointer;

        &>span {
            width: 50px;
            height: 3.5px;
            background: #000;
            transition: all 0.3s ease-in-out;
        }

        &:hover span:nth-child(1) {
            width: 35px;
        }

        &:hover span:nth-child(2) {
            width: 40px;
        }

        &.active span:nth-child(1) {
            transform-origin: center center;
            transform: rotate(-45deg) translate(-10px, 2.5px);
            width: 50px;
        }

        &.active span:nth-child(2) {
            transform: translateX(10px);
            opacity: 0;
        }

        &.active span:nth-child(3) {
            transform-origin: center center;
            transform: rotate(45deg) translate(-11px, -4px);
            width: 50px;
        }

        &_line1 {
            width: 4.2rem;
            justify-self: end;
        }

        &_line2 {
            margin-top: 1.5rem;
            width: 3.5rem;
            justify-self: end;
        }

        &_line3 {
            margin-top: 1.5rem;
        }
    }


    &-content {
        position: fixed;
        z-index: 99999999999;
        height: 20rem;
        width: 100vw;
        background-color: #fff;
        opacity: 1;

        margin-top: 7rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &--ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 3rem;

            place-items: center;

            &-home {
                grid-column: 1 / 1;
                grid-row: 1 / 1;

                font-size: var(--fs-text-big);
                text-decoration: none;
            }

            &-about {
                grid-column: 1 / 1;
                grid-row: 2 / 2;

                font-size: var(--fs-text-big);
                text-decoration: none;
            }
        }
    }

}
